"auth/validator": {
    "alg": "RS256",
    "jwk_url": "http://authentication-service.prod.svc.cluster.local:8000/jwks",
    "cache": true,
    "disable_jwk_security": true,
    "operation_debug": true,
    "propagate_claims": [
        ["sub", "x-user-authn-id"]
    ]
}